@model NMS.Models.ViewModel.CategoryViewModel

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>



<style>
    .dropbtn {
        background-color: rgba(0,0,0,0.2);
        min-width: 160px;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: none;
    }
    .r {
        background-color: rgba(0,0,0,0.2);
        min-width: 200px;
        color: white;
        padding: 16px;
        font-size: 16px;
        border: solid;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: rgba(0,0,0,0.2);
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .dropdown-content a {
            color: whitesmoke;
            padding: 12px 16px;
            text-decoration: none;
            display: block;
        }

            .dropdown-content a:hover {
                background-color: #ddd;
            }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }
    #srcrslt{
        min-width:100%;
    }

    .dflex {
        display: block;
        position: fixed;
        background-color: rgb(56, 56, 56);
        min-width: 17%;
        max-width: 17%;
        min-height: 100%;
        z-index: 1;
    }
</style>
<div class="container-fluid">
    <div class="row">
        <div class="col col-sm-2">
            <div class="dflex pt-md-5">

                <div class="d-flex flex-column ">

                    <a href="#"><div class="p-2 pl-4 btn btn-primary" style="min-width: 100%">Flex item 1</div></a>
                    <a href="#"><div class="p-2 pl-4 btn btn-info" style="min-width:100%">Flex item 1</div></a>
                    <div class="p-2 pl-4  bg-primary" style="min-width:100%">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal" style="padding-right:15px;">

                                <div class="form-group">

                                    <div class="col-md-12">
                                        <input type="text" id="src" class="form-control">

                                      
                                    </div>
                                    <div id="srl" style="max-width:10%" class="row"></div>
                                </div>

                            </div>
                        }


                    </div>
                </div>

            </div>
        </div>
        <div class="col col-sm-10">
            <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
                <div class="container">


                    <div class="collapse navbar-collapse " ></div>

                    <div class="collapse navbar-collapse"
                         id="navbarSupportedContent">

                        <div class="subnav">

                            <div class="topnav" id="myTopnav">





                                @if (Model.Categories.Count() > 0)
                                {
                                    foreach (var categories in Model.Categories)
                                    {
                                        <div class="dropdown  mr-auto mt-3 pt-3">
                                            <button class="dropbtn">
                                                @categories.categoryName
                                                <i class="fa fa-caret-down"></i>
                                            </button>
                                            <div class="dropdown-content">

                                                @{ var subcat = Model.SubCategories.Where(sc => sc.categoryId == categories.categoryId).ToList(); }

                                                @if (subcat.Count() > 0)
                                                {
                                                    foreach (var subcategory in subcat)
                                                    {
                                                        @Html.ActionLink(subcategory.subCategoryName, "GetProduct", new { Controller = "Guest", id = subcategory.subCategoryId }, new { @class = "nav-link" })
                                                    }

                                                }





                                            </div>


                                        </div>

                                    }



                                }
                            </div>
                        </div>
                    </div>
                </div>

            </nav>
        </div>
    </div>
</div>





<script type="text/javascript">
    $('#src').keydown(function () {
         $("#srl").html("<div class='r'></div>")
    });
    $('#src').keyup(function (request, response) {
        var srcstring = $("#src").val();

        
        var product = new Array();
        $.ajax({
            async: false,
            cache: false,
            type: "POST",

            data: JSON.stringify({ "term": srcstring }),
            dataType: "json",
            contentType: "application/json; charset=utf-8",
            url: "@(Url.Action("Autocomplete", "Nav"))",



            success: function (data) {
                for (var i = 0; i < data.length; i++) {
                    

                    $('#srl').append("<a href='/Nav/GetDetail/" + data[i].productId + "'><div class='r'> " + data[i].productName + "</div></a><br/>");
                  
                  

                }
                if ($("#src").val()== "") {
            $("#srl").html("<div class='r'>search somethimg here</div>")
        }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(thrownError)
            }


        });


    });
   


    
     function myFunction() {
        var x = document.getElementById("myTopnav");
        if (x.className === "topnav") {
            x.className += " responsive";
        } else {
            x.className = "topnav";
        }
    }
</script> 